*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}

.container{
    width: 22rem;
    height: 42rem;
    display: grid;
    margin: auto;
    margin-top: 1rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 0.5fr repeat(2,2fr) 1fr;
    gap: 0.2rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    border-radius: 1.4rem;

}




.content1{
    grid-column: 1 / span 4;
}

.content2{
    
    grid-column: 1 / span 4;
    grid-row: 2 / span 2;
}
#content2{
    grid-row: 3 / span 1;
    grid-column: 4 / span 1;
}
.content3{
    grid-column: 1 / span 4;
 
}

.zero-container{
    grid-column: 1 / span 2;
}

.zero{
    width: 10.5rem;
    border-radius: 3.34rem;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    

}
.operator,
.equal{
    background-color: #f29e4b;
}
.operator:hover,
.equal:hover{
    background-color: #9B550F;
}

.num{
    background-color: #333333;
}
.num:hover{
    background-color: #1a1818;
}

.top{
    background-color: #A4A4A4;
    color: black;
}
.top:hover{
    background-color: #524b4b;
}

.content2,
.content3{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  align-items: flex-end;
  
}

#content2,
#content3{
  font-size: 3rem;
  background-color: inherit;
  border: none;
}

#content2{
    grid-row-start: 3;
}
